
*{
	box-sizing: border-box;
	font-family: "montserrat",sans
 }
.parent
{
	margin:10px;
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	background-color: white;
	padding: 10px;
	
}
img
{
	width: 100%;
	display: block;
	overflow: hidden;
}

.card
{
  padding: 10px;
  background-color: orchid;
  transform: scale(1);
  transition: 0.3s ease-in-out;
 }

 .card:hover{
 background-color:white;
 font-size: 20px;
 transform: scale(1.5);
 transform: rotate(180deg);
  }

 body
 {
  display: grid;
   justify-content: center;
 }



